a{
	color:#000;

}

.header tag{
	display:inline;

}

.header .nav{
	margin-top:0;
	margin-bottom:0;
	padding-top:5px;
	font-family: 'Droid Serif', serif;
}

.header h3{
	margin-top:0;
	margin-bottom:0;
	font-family: 'Roboto Slab', serif;
}


.jumbotron h1{
	font-family: 'Roboto Slab', serif;
}

.jumbotron h3{
	font-family: 'Droid Serif', serif;
}